body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 { margin: 0; }
header {
    background-color: #00af91;
    color: #fff;
}
.content {
    background-color: #eee;
    min-height: 400px;
    padding: 20px;
}
footer {
    background-color: #007965;
    padding: 20px;
    color: white;
    text-align: center;
}

.top {
    background-color: #079c83;
    padding: 5px;
}
.title {
    padding: 40px;
    text-align: center;
}

nav {
    background-color: #007965;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-table;
}
nav a {
    line-height: 60px;
    padding: 0 15px;
    display: block;
    text-decoration: none;
    color: white;
}
nav a:hover {
    background-color: #045e4f;
    color: #000;
}

.article {
    float: left;
    width: 75%;
}
.sidebar {
    float: right;
    width: 23%;
}
.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .article,
    .sidebar {
        width: 100%;
    }
}